#paw {
    width: 66px;
    height: 66px;
    background: url(../img/sprite.png) -73px 0;
}

#mark {
    width: 65px;
    height: 65px;
    background: url(../img/sprite.png) -213px 0;
}

#looking {
    width: 65px;
    height: 65px;
    background: url(../img/sprite.png) -363px 0;
}

.credits{
    text-align: center;
}

#map {
        height: 800px;
        background-color: grey;
      }

li{
    text-align: center;
}

a:focus, a:hover{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-left: 0;
}
